<!DOCTYPE html>
{%extends 'base.html'%} {%block content%}
<style>
    #btnPubli {
        background-color: green;
        color: aliceblue;
    }
    #btnPubli:hover {
        background-color: brown;
    }
    #btnPubli:after {
        content: "Publiée";
    }
    #btnPubli:hover:after {
        content: "Depublier";
    }
</style>
<div class="d-flex flex-column align-items-center my-5">
    <div class="d-flex flex-nowrap mb-3" style="width: 65%">
        {% if offre.img == "0" %}
        <img
            class="rounded-start-4"
            src="{{url_for('static', filename='img/fetes.svg')}}"
            style="width: 400px; max-width: 100%; height: 400px"
        />
        {% else %}
        <img
            class="rounded-start-4"
            src="{{url_for('static', filename='img/offre/' ~ offre.id_offre)}}"
            style="width: 400px; max-width: 100%; height: 400px"
        />
        {% endif %}
        <div class="d-flex flex-wrap ms-5 flex-grow-1 w-100">
            <div class="d-flex flex-wrap flex-column my-2 w-100" style="width: 65%">
                <div class="d-flex flex-nowrap justify-content-between align-items-center">
                    <h1>{{ offre.nom_offre}}</h1>
                    <p>fermeture de l'offre: {{offre.date_limite}}</p>
                </div>
                <p>Créer par {{offre.utilisateur.prenom_utilisateur}} {{offre.utilisateur.nom_utilisateur}}</p>
            </div>

            <div class="d-flex flex-column w-100">
                <p>{{offre.description}}</p>
                <p class="fw-bolder">Nombre de participants: {{offre.nb_participants()}}</p>
                <p class="fw-bolder">Cotisation minimale: {{offre.cotisation_min}} €</p>
                <p class="fw-bolder">Cotisation actuelle: {{offre.cotisation}} €/{{offre.budget}} €</p>

                {% if verif == 1 %}
                <a href="{{url_for('reponses.repondre_offre', id_offre=offre.id_offre)}}">
                    <input
                        class="btn btn-base w-100 py-3 fw-bolder"
                        style="font-size: 1.5em"
                        type="button"
                        name="repondre"
                        id="repondre"
                        value="Répondre"
                    />
                </a>
                {% elif verif == 2 %}
                <a href="{{url_for('reponses.repondre_offre', id_offre=offre.id_offre)}}">
                    <input
                        class="btn btn-base w-100 py-3 fw-bolder"
                        style="font-size: 1.5em"
                        type="button"
                        name="repondre"
                        id="repondre"
                        value="Modifier réponse"
                    />
                </a>
                {% elif verif == 3 %}
                <a href="{{url_for('reponses.visualiser_reponses_offre', id_offre=offre.id_offre)}}">
                    <input
                        class="btn btn-base w-100 py-3 fw-bolder"
                        style="font-size: 1.5em"
                        type="button"
                        name="repondre"
                        id="repondre"
                        value="Visualiser les réponses"
                    />
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if verif == 3 %}
    <div class="d-flex justify-content-around">
        <a href="{{url_for('views.definir_etat', id_offre=offre.id_offre)}}">
            {% if offre.etat=="publiée" %}
            <button id="btnPubli" class="btn rounded-4 mx-5 px-4 fs-5"></button>

            {% else %}
            <button id="btnNonPubli" class="btn btn-dark rounded-4 mx-5 px-4 fw-bolder fs-5">Publier</button>

            {% endif %}
        </a>

        <a href="{{url_for('offre.creation_offre', id_offre=offre.id_offre)}}">
            <input
                class="btn btn-dark rounded-4 px-4 mx-5 fw-bolder fs-5"
                type="button"
                name="modifier"
                id="modifier"
                value="Modifier"
            />
        </a>
        <button class="btn btn-danger rounded-4 px-4 mx-5 fw-bolder fs-5 popup-btn-open" data-popup="popup-suppression">
            Supprimer
        </button>
        <div class="popup" id="popup-suppression">
            <h2>Suppression de l'offre</h2>
            <p>Êtes-vous sûr de vouloir supprimer l'offre {{offre.nom_offre}} ?</p>
            <input
                class="btn btn-dark rounded-4 px-4 mx-5 fw-bolder fs-5 popup-btn-close"
                type="button"
                name="annuler"
                id="annuler"
                value="Annuler"
                data-popup="popup-suppression"
            />
            <a href="{{url_for('offre.suppression_offre', id_offre=offre.id_offre)}}">
                <input
                    class="btn btn-danger rounded-4 px-4 mx-5 fw-bolder fs-5"
                    type="button"
                    name="supprimer_offre"
                    id="supprimer_offre"
                    value="Supprimer"
                />
            </a>
        </div>
    </div>
    {% endif %} {% if offre.docs %}
    <div class="d-flex justify-content-end mb-3" style="width: 65%">
        <a class="text-dark fw-bolder" style="justify-self: end" href="#documents">
            Voir les documents associés à l'offre
        </a>
    </div>

    <div class="mb-5 pt-2" style="width: 65%; border-top: grey solid 1px">
        <div class="d-flex justify-content-between align-items-center" id="documents">
            <h1>Documents</h1>

            <a href="">
                <img src="{{url_for('static', filename='img/plus.svg')}}" alt="plus" />
            </a>
        </div>

        {% for document in offre.les_documents %}
        <div>
            <a
                class="fw-bolder"
                style="color: grey"
                href="{{ url_for('static', filename='Documents/' ~ document.id_doc ~ '-' ~ offre.id_offre) }}"
                download="test.png"
            >
                <img src="{{ url_for('static', filename='img/icon_download.svg') }}" alt="icon_download" />
                {{ document.nom_doc }}
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="my-5 pt-2" style="width: 65%; border-top: grey solid 1px">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="fw-bold">Commentaires</h2>
            <a href="#">
                <img src="{{ url_for('static', filename='img/moins.svg') }}" alt="moins" />
            </a>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <form action="{{ url_for('offre.details_offre', id_offre=offre.id_offre) }}" method="POST">
                    {{ commentaireForm.hidden_tag() }}
                    <div class="mb-3">
                        {{ commentaireForm.texte_commentaire(class="form-control", placeholder="Écrivez votre commentaire ici...", rows="3") }}
                    </div>
                    <button type="submit" class="btn btn-dark fw-bolder">Ajouter un commentaire</button>
                </form>
            </div>
        </div>
        <div class="" style="max-height: 300px">
            {% for commentaire in offre.les_commentaires %}
            <div class="card mb-3">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <img
                            src="{{ url_for('static', filename='img/profil/' ~ commentaire.utilisateur.img_utilisateur) }}"
                            alt="Photo profil"
                            class="rounded-circle"
                            style="width: 40px; height: 40px; object-fit: cover"
                        />
                        <div class="ms-3">
                            <strong
                                >{{ commentaire.utilisateur.prenom_utilisateur }} {{
                                commentaire.utilisateur.nom_utilisateur }}</strong
                            ><br />
                            <small class="text-muted">le {{ commentaire.date_commentaire.date() }}</small>
                        </div>

                        {% if current_user.id_utilisateur == commentaire.utilisateur.id_utilisateur %}
                        <button
                            class="btn btn-outline-danger btn-sm ms-auto popup-btn-open"
                            data-popup="suppression_commentaire"
                        >
                            Supprimer
                        </button>
                        <div class="popup" id="suppression_commentaire">
                            <h2>Suppression du commentaire</h2>
                            <p>Êtes-vous sûr de vouloir supprimer ce commentaire ?</p>
                            <input
                                class="btn btn-dark rounded-4 px-4 mx-5 fw-bolder fs-5 popup-btn-close"
                                type="button"
                                name="annuler"
                                id="annuler"
                                value="Annuler"
                                data-popup="suppression_commentaire"
                            />
                            <a
                                href="{{ url_for('offre.suppression_commentaire', id_commentaire=commentaire.id_commentaire) }}"
                                class="btn btn-outline-danger btn-sm ms-auto"
                            >
                                Supprimer
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ commentaire.texte_commentaire }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
