{% extends 'base.html' %} 
{% macro render_pagination(pagination, endpoint) %}
  <nav aria-label="Pagination">
    <div class="page-items text-center mb-2">
      {{ pagination.first }} - {{ pagination.last }} sur {{ pagination.total }}
    </div>
    <ul class="pagination justify-content-center">
      {% if pagination.has_prev %}
      <li class="page-item">
        <a class="page-link" href="{{ url_for(endpoint, page=pagination.prev_num) }}" aria-label="Précédent">
          &laquo;
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link" aria-label="Précédent">
          &laquo;
        </span>
      </li>
      {% endif %}
      {% for page in pagination.iter_pages() %}
        {% if page %}
          {% if page == pagination.page %}
            <li class="page-item active" aria-current="page">
              <span class="page-link">{{ page }}</span>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
            </li>
          {% endif %}
        {% else %}
          <li class="page-item disabled">
            <span class="page-link">…</span>
          </li>
        {% endif %}
      {% endfor %}
      {% if pagination.has_next %}
      <li class="page-item">
        <a class="page-link" href="{{ url_for(endpoint, page=pagination.next_num) }}" aria-label="Suivant">
          &raquo;
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link" aria-label="Suivant">
          &raquo;
        </span>
      </li>
      {% endif %}
    </ul>
  </nav>
{% endmacro %}{% block content %}


<div class="d-flex" style="min-height: 100vh; height: auto;">
        {% include 'filtrage_les_offres.html' %}

    
        <div class="d-flex justify-content-center bg-color-gris flex-grow-1 p-5">

            <div class="d-flex align-items-center flex-column">
                <h2 class="fw-bolder display-5">Les offres</h2>

                <div>
                    {% for offre in offres %}
                        {% include 'offre.html' %}
                    {% endfor %}
                </div>
                      <div class="mt-4">
        {{render_pagination(offres, 'offre.les_offres') }}
      </div>
            </div>
        </div>
        
    </div>
    
</div>

{% endblock %}
