<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>StageFlow</title>
        <link rel="icon" type="image/png" sizes="16x16"  href="../static/img/logo.svg">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">
        {% endblock %}
        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}
    </head> 

    <body>
        <header>
            <nav class="nav navbar">

                <div>
                    <a href="{{url_for('home')}}"><img src="{{ url_for('static', filename='img/logo.svg') }}" alt="logo de StageFlow"/>StageFlow</a>
                </div>
                    
                <div>
                    <input type="search" id="zone-search" name="zone-search" />
                    <img src="{{ url_for('static', filename='img/search.svg') }}" alt="icone de recherche"/>
                </div>

                    <li> 

                    </li>          
                
                    <li>
                        <ul> 
                            <li>Mes réseaux</li>
                            <li><img src="{{ url_for('static', filename='img/icon_reseau.svg') }}" alt="mes réseaux"/></li>
                        </ul>
                    </li>
                    <li>
                        <ul> 
                            <li>Mes offres</li>
                            <li><img src="{{ url_for('static', filename='img/icon_dossier.svg') }}" alt="mes offres"/></li>
                        </ul>
                    </li>
                    <li>
                        <ul> 
                            <li>Créer une offre</li>
                            <li><img src="{{ url_for('static', filename='img/icon_plus.svg') }}" alt="créer une offre"/></li>
                        </ul>
                    </li>
                    <li><img src="{{ url_for('static', filename='img/boite_reception.svg') }}" alt="boite de réception"></li>

                    <a href="{{url_for('modifier_profil')}}">
                    <li><img src="{{ url_for('static', filename='img/photo_profil_tom.svg') }}" alt="profil"></li>
                    <li>Tom Cook</li>
                    </a>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>