<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block head %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>StageFlow</title>
        <link rel="icon" type="image/png" sizes="16x16" href="../static/img/logo.svg" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="theme-color" content="#ffffff" />
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}" />
        {% endblock %} {% block styles %}
        <!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }} {% endblock %}
    </head>

    <body>
        <header>
            <nav class="nav navbar border">
                <div class="d-flex align-items-center">
                    <a class="btn pe-1 d-flex align-items-center" href="{{url_for('home')}}"
                        ><img
                            src="{{ url_for('static', filename='img/logo.svg') }}"
                            alt="logo de StageFlow"
                            class="mx-3 ml-4"
                        />
                        <p class="mb-0 ml-4">StageFlow</p></a
                    >
                </div>

                <div class="input-group border rounded-pill">
                    <input
                        class="form-control rounded-pill rounded-end"
                        type="search"
                        id="zone-search"
                        name="zone-search"
                        placeholder="Recherche une offre"
                    />
                    <button class="btn">
                        <img src="{{ url_for('static', filename='img/search.svg') }}" alt="icone de recherche" />
                    </button>
                </div>

                <div>
                    <!-- modifier pour prendre en compte la connexion -->
                    <a class="btn btn-default" href="{{url_for('mes_reseaux')}}">
                        Mes réseaux

                        <img
                            src="{{url_for('static', filename='img/icon_reseau.svg')}}"
                            alt="icone réseaux"
                            class="ms-3"
                        />
                    </a>
                </div>

                <div>
                    <!-- créer route vers mes offres -->
                    <a class="btn btn-default mx-3 d-flex align-items-center" href="{{url_for('mes_offres')}}">
                        Mes offres
                        <img
                            src="{{url_for('static', filename='img/icon_dossier.svg')}}"
                            alt="icone dossier"
                            class="ms-3"
                        />
                    </a>
                </div>

                <div>
                    <a class="btn btn-base mx-3" href="{{url_for('creation_offre')}}">
                        Créer une offre
                        <img src="{{url_for('static', filename='img/icon_plus.svg')}}" alt="icone plus" class="ms-2" />
                    </a>
                </div>

                <div>
                    <!-- créer la route vers notification -->
                    <a href="{{url_for('boite_reception')}}" class="btn">
                        <img
                            src="{{ url_for('static', filename='img/boite_reception.svg') }}"
                            alt="boite de réception"
                        />
                    </a>
                </div>
                <div>
                    <button class="btn">
                        <a href=" {{ url_for('signin')}}">Ajouter un user</a>
                    </button>
                </div>
                <div>
                    <!-- modifier Tom Cook par l'utilisateur liée à la BD -->
                    <a class="btn" href="{{url_for('modifier_profil')}}">
                        <img
                            src="{{ url_for('static', filename='img/profil/' ~ current_user.img_utilisateur)
                        }}"
                            alt="profil"
                            class="img-fluid rounded-circle"
                            style="width: 50px; height: 50px"
                        />
                        {{current_user.nom_utilisateur}} {{current_user.prenom_utilisateur}} {{current_user.role.name}}
                    </a>
                </div>
            </nav>
        </header>

        <main>{% block content %} {% endblock %}</main>
    </body>
</html>
