<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>StageFlow</title>
        <link rel="icon" type="image/png" sizes="16x16"  href="../static/img/logo.svg">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">
        {% endblock %}

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}
    </head> 

    <body>
        <header>
            <nav class="nav navbar">
                <div>
                    <a href="{{url_for('home')}}"><img src="{{ url_for('static', filename='img/logo.svg') }}" alt="logo de StageFlow"/>StageFlow</a>
                </div>
                    
                <div>
                    <input type="search" id="zone-search" name="zone-search"/>
                    <button>
                        <img src="{{ url_for('static', filename='img/search.svg') }}" alt="icone de recherche"/>
                    </button>
                </div>
                
                <div>
                    <!-- modifier pour prendre en compte la connexion -->
                    <a href="{{url_for('mes_reseaux')}}">
                        Mes réseaux
                        <img src="{{url_for('static', filename='img/icon_reseau.svg')}}" alt="icone réseaux">
                    </a>
                </div>

                <div>
                    <!-- créer route vers mes offres -->
                    <a href="">
                        Mes offres
                        <img src="{{url_for('static', filename='img/icon_dossier.svg')}}" alt="icone dossier">
                    </a>
                </div>
                
                <div>
                    <a href="{{url_for('creation_offre')}}">
                        Créer une offre
                        <img src="{{url_for('static', filename='img/icon_plus.svg')}}" alt="icone plus">
                    </a>
                </div>

                <div>
                    <!-- créer la route vers notification -->
                    <a href="">
                        <img src="{{ url_for('static', filename='img/boite_reception.svg') }}" alt="boite de réception">
                    </a>
                </div>

                <div>
                    <!-- modifier Tom Cook par l'utilisateur liée à la BD -->
                    <a href="{{url_for('modifier_profil')}}">
                        <img src="{{ url_for('static', filename='img/photo_profil_tom.svg') }}" alt="profil">
                        Tom Cook
                    </a>
                </div>
            </nav>
        </header>
        
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>