{%extends 'base.html'%}
{%block content%}
<div class ="back-grey vh-100">

    <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-md-8">
            {% for message in les_notifs %}
            <div class="card mb-4 shadow-sm">
              <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="card-title mb-0">{{ message.expediteur }}</h5>
                <small class="text-muted">{{ message.date_notification }} à {{ message.heure_notification }}</small>
              </div>
              <div class="card-body text-center">
                {% if message.type_operation == "ajout" %}
                  <p class="card-text">Vous avez été ajouté dans le réseau : <strong>{{ message.nom_reseau }}</strong></p>
                {% elif message.type_operation == "bienvenue" %}
                  <p class="card-text">Bienvenue sur StageFlow</p>
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      
</div>
{%endblock%}    