{%extends 'base.html'%}
{%block content%}
<div class ="back-grey vh-100">

    <div class ="d-flex justify-content-center">
        <h1 class ="fw-bolder display-4 m-4 ">Boite de réception</h1>
    </div>
    <div class="d-flex justify-content-center">    
        {%for message in les_notifs%}
        <div class="mt-5">
            <div class="d-flex flex-row back-white rounded-4">
                <img src="{{ url_for('static', filename='../static/img/profil/images.jpg') }}" alt="offre">
                <div class="d-flex flex-column mx-5">
                

                    <div class="d-flex justify-content-between align-items-center">
                        <h3>{{message.expediteur}}</h3>
                        <p class="fw-bolder">{{message.date_notification}}</p>
                    </div>
                    <div>
                        {% if message.type_operation == "ajout" %}
                            <p>Vous avez reçu une invitation pour rejoindre son réseau</p>
                        {% endif %}
                        <p  class="d-flex flex-nowrap justify-content-around w-100">
                            
                        </p>
                    </div>
                </div>

            </div>
            
        </div>


        {%endfor%}
        </div>
    </div>
</div>
{%endblock%}    