{% extends 'connexion-base.html' %}

{% block content %}

    <div class="border rounded-2 mx-auto w-50 m-auto">
        <h1 class="plc-colored">Connexion</h1>
    
        <form action="{{url_for('home')}}">

            <label class="plc-colored" for="email">Adresse e-mail</label>
            <input class="rounded-2" type="email" name="email" id="email" placeholder="Entrer votre adresse e-mail">

            <label class="plc-colored" for="password">Mot de passe</label>
            <input class="rounded-2" type="password" name="password" id="password" placeholder="Entrer votre mot de passe">

            <a class="btn" href="{{ url_for('mdp_oublie') }}">Mot de passe oublié</a>
            
            <button class ="btn btn-envoyer" type="submit">Se connecter</button>

        </form>

    </div>

{% endblock %}