<!DOCTYPE html>
{%extends 'base.html'%}
{%block content%}
    <h1>Créer une offre</h1>

    <form action="{{ url_for('creation_offre') }}" method="post">

        <div>
            {{ form.hidden_tag() }} 
            {{ form.nom_offre.label }} 
            {{ form.nom_offre(size=50, placeholder="Nom de l'offre") }}
        </div>
        <div>
            {{ form.genre.label }} 
            {{ form.genre }}
            <img src="{{ url_for('static', filename='img/search.svg') }}" alt="icone de recherche"/>
        </div>
        <div>
            {{ form.date_limite.label }} 
            {{ form.date_limite(size=50, placeholder="expiration") }}
        </div>
        <div>
            {{ form.date_deb.label }} 
            {{ form.date_deb(size=50, placeholder="Date de début") }}
        </div>
        <div>
            {{ form.date_fin.label }} 
            {{ form.date_fin(size=50, placeholder="Date de fin") }}
        </div>
        <div>
            {{ form.budget.label }} 
            {{ form.budget(size=50, placeholder="XXX XXX euros") }}            
        </div>
        <div>
            {{ form.cotisation_min.label }} 
            {{ form.cotisation_min(size=50, placeholder="XXX XXX euros") }}            
        </div>
        <div>
            {{ form.capacite_min.label }} 
            {{ form.capacite_min(size=50) }}            
        </div>
        <div>
            {{ form.capacite_max.label }} 
            {{ form.capacite_max(size=50) }}            
        </div>
        <div>
            {{ form.nom_loc.label }} 
            {{ form.nom_loc(size=50) }} 
        </div>
        <div>
            {{ form.img.label }} 
            {{ form.img }} 
        </div>
        <div>
            {{ form.liens.label }} 
            {{ form.liens(size=50) }} 
        </div>
        <div>
            {{ form.documents.label }} 
            {{ form.documents }} 
        </div>
        <div>
            {{ form.description.label }} 
            {{ form.description(size=50) }} 
        </div>
        <div>
            {{ form.etat.label }} 
            {{ form.etat }} 
        </div>
        <div>
            {{ form.reseau.label }} 
            {{ form.reseau }} 
        </div>
            {{form.submit}}
    </form>

{%endblock%}