<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>

    <body>
        <h1>Ajouter un genre</h1>

        <form action="" method="post" action="{{ url_for('creation_offre') }}">
            {{ form.hidden_tag() }} {{ form.nom_genre.label }} {{ form.nom_genre(size=50, placeholder="Nom du genre") }}
            <button type="submit">Ajouter un genre</button>
        </form>

        <h1>Liste des genres</h1>
        <ul>
            {% for genre in genres %}
            <li>{{ genre.nom_genre }}</li>
            <a href="{{ url_for('suppression_genre', id_genre=genre.id_genre) }}">Supprimer</a>
            {% endfor %}
        </ul>
    </body>
</html>
