{%extends 'base.html'%}
{%block content%}
    <h1>Voir mes réseaux</h1>
    <div>
        <div>
            <img src="{{ url_for('static', filename='img/humaaan1.svg') }}" alt="social">

        </div>

        <div>
            <form>


                <input type="radio" id="reseau1" name="reseau1 "value="reseau1">
                <label for="reseau1">Reseau 1</label>


                <input type="radio" id="reseau2" name="reseau2 "value="reseau2">
                <label for="reseau2">Reseau 2</label>

                <input type="radio" id="reseau3" name="reseau3 "value="reseau3">
                <label for="reseau3">Reseau 3</label>

            </form>

            <button>Voir les membres</button>

            <button>Créer un réseau</button>
           
        </div>

        <div>
            <img src="{{ url_for('static', filename='img/humaaan2.svg') }}" alt="social">
        </div>



    </div>

    <div>

        <h1>Membres du réseau</h1>
        
        <input type="search" id="zone-search" name="zone-search" />
        <img src="{{ url_for('static', filename='img/search.svg') }}" alt="icone de recherche"/>

        <div>
            <img src="{{ url_for('static', filename='img/photo_profil_tom.svg') }}" alt="profil">
            <p>Tom Cook</p>
            <button>Supprimer</button>
        </div>

        <div>
            <img src="{{ url_for('static', filename='img/photo_profil_tom.svg') }}" alt="profil">
            <p>Tom Cook</p>
            <button>Supprimer</button>
        </div>

        <div>
            <img src="{{ url_for('static', filename='img/photo_profil_tom.svg') }}" alt="profil">
            <p>Tom Cook</p>
            <button>Supprimer</button>
        </div>

        <h3>Suggestions</h3>

        <div>
            <img src="{{ url_for('static', filename='img/photo_profil_tom.svg') }}" alt="profil">
            <p>Tom Cook</p>
            <button>Ajouter</button>
        </div>
        <div>
            <img src="{{ url_for('static', filename='img/photo_profil_tom.svg') }}" alt="profil">
            <p>Tom Cook</p>
            <button>Ajouter</button>
        </div>
    </div>

    <div>
        <h1>Créer un réseau</h1>
        <form>
            <label for="nom">Nom du réseau</label>
            <input type="text" id="nom" name="nom" required>

            <input type="search" id="zone-search" name="zone-search" />
            <img src="{{ url_for('static', filename='img/search.svg') }}" alt="icone de recherche"/>

            <div>
                <img src="{{ url_for('static', filename='img/photo_profil_tom.svg') }}" alt="profil">
                <p>Tom Cook</p>
                <button>Ajouter</button>
            </div>

            <div>
                <img src="{{ url_for('static', filename='img/photo_profil_tom.svg') }}" alt="profil">
                <p>Tom Cook</p>
                <button>Ajouter</button>


            <button>Créer</button>
        </form>
    </div>

{% endblock %}

