{% extends 'base.html' %} 
{% block content %}
    <h1>StageFlow</h1>
    <h4><em>Ressentez la simplicité de la collaboration musicale.</em></h4>

    <div>
        <img src="{{ url_for('static', filename='img/saxo.svg') }}" alt="saxo">

        <img src="{{ url_for('static', filename='img/musicien.svg') }}" alt="musique">
    </div>

    <div class="">

        <h2> Les offres les plus populaires </h2>

        {% include 'offre.html' %}

        {% include 'offre.html' %}

        <a href="{{url_for('les_offres')}}">
            <input class="btn btn-base" type="button" name="offres" id="offres" value="Afficher plus d'offre">
        </a>
                
    </div>

{% endblock %}

