<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
{% endblock %}
</head>
<button type="button" class="btn btn-base">Base</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-envoyer">Envoyer</button>

{% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
{% endblock %}