<!DOCTYPE html>

<div>
    <h1>Membres du réseau</h1>

    <div class="input-group border rounded-pill">
        <input class="form-control rounded-pill rounded-end" type="search" id="zone-search" name="zone-search" />
        <button class="btn">
            <img src="{{ url_for('static', filename='img/search.svg') }}" alt="icone de recherche" />
        </button>
    </div>

    {% for m in membre %}
    <div>
        <img src="{{ url_for('static', filename='img/photo_profil_tom.svg') }}" alt="profil" />
        {{m.nom_utilisateur}}
        <button class="btn btn-dark">
            <a
                href="{{url_for('suppression_utilisateur_reseau', id_reseau=reseau_id,
            id_utilisateur=m.id_utilisateur)}}"
                >Supprimer</a
            >
        </button>
    </div>
    {% endfor %}

    <h3>Suggestions</h3>

    <div>
        <img src="{{ url_for('static', filename='img/photo_profil_tom.svg') }}" alt="profil" />
        <p>Tom Cook</p>
        <input class="btn btn-dark" type="button" name="ajouter" id="ajouter" value="Ajouter" />
    </div>
    <div>
        <img src="{{ url_for('static', filename='img/photo_profil_tom.svg') }}" alt="profil" />
        <p>Tom Cook</p>
        <input class="btn btn-dark" type="button" name="ajouter2" id="ajouter2" value="Ajouter" />
    </div>
</div>
