{% extends 'base.html' %} {% block content %}

    <div class="d-flex vh-100">
        <div class="w-25 border">
            <div class="d-flex flex-column m-5">

                <h1 class="w-100 fw-bolder">Filtrer par</h1>

                <div class="my-3">
                    <h2>Réseau</h2>

                    <div>
                        <input type="checkbox" id="reseau1" name="reseau" value="reseau1">
                        <label for="reseau1">Réseau 1</label>
                    </div>

                    <div>
                        <input type="checkbox" id="reseau2" name="reseau" value="reseau2">
                        <label for="reseau2">Réseau 2</label>
                    </div>

                </div>

                <div class="my-3">
                    <h2>Date d'expiration</h2>

                    <div>
                        <input type="checkbox" id="plus_proche" name="anciennete" value="plus_proche">
                        <label for="plus_proche">Plus proche</label>
                    </div>

                    <div>
                        <input type="checkbox" id="moins_proche" name="anciennete" value="moins_proche">
                        <label for="moins_proche">Moins proche</label>
                    </div>

                </div>

                <div class="my-3">
                    <h2>Popularité</h2>

                    <div>
                        <input type="checkbox" id="plus_populaire" name="populaire" value="plus_populaire">
                        <label for="plus_populaire">Plus populaire</label>
                    </div>

                    <div>
                        <input type="checkbox" id="moins_populaire" name="populaire" value="moins_populaire">
                        <label for="moins_populaire">Moins populaire</label>
                    </div>
                </div>
            </div>
        </div>
            
        

        <div class="d-flex justify-content-center bg-color-gris flex-grow-1 p-5">
            
            <div >

                <div>
                    <div class="d-flex flex-row justify-content-center vw-75" role="group" aria-label="Basic example">
                        <a  href="{{url_for('mes_offres')}}"><input class="btn btn-dark  border-3 border-darkflow fs-3 px-5" type="button" name="offres" id="offres" value="Mes offres"></a>
                        <a  href="{{url_for('mes_reponses')}}"><input class="btn border-3 border-darkflow fs-3 px-5" type="button" name="reponses" id="reponses" value="Mes réponses"></a>
                    </div>

                    {% for offre in offres%}
                    <div>
                        {% include 'offre.html' %}
                        <div class="d-flex justify-content-around">
                            <input class= "btn btn-dark rounded-4 px-4 fs-5" type="button" name="publier" id="publier" value="Publier">
                            <input class= "btn btn-dark rounded-4 px-4 fs-5" type="button" name="modifier" id="modifier" value="Modifier">
                            <input class= "btn btn-dark rounded-4 px-4 fs-5" type="button" name="supprimer" id="supprimer" value="Supprimer">
                        </div>
                    </div>
                    {% endfor %}
                    

                </div>
            </a>
        </div>
    </div>
    <div class ="d-flex justify-content-center">  
        <div class ="d-flex flex-column w-25">
            <div class="d-flex flex-row justify-content-between" > 
                <h2 class ="fw-bolder">Confirmation de suppression</h2>
                <a href="{{url_for('mes_offres')}}">
                    <input class="btn btn-close" type="button" name="close" id="close">
                </a>
            </div>
            <div class ="d-flex flex-row mt-3">
                <img class="ml-3" style="width:40px; height: 40px;"src="{{ url_for('static', filename='img/attention.svg') }}" alt="attention">
                <p class="mt-2 mx-4"> Êtes-vous sûr de vouloir supprimer l’offre ... ?</p>

            </div>
            <div class ="d-flex justify-content-end mx-3">
                <a href="{{url_for('suppression_offre', id_offre=offre.id_offre)}}">
                    <input class="btn btn-dark fw-bolder rounded-3" type="input" name="oui" id="oui" value="Oui">
                </a>
                <button class="btn btn-dark fw-bolder rounded-3">Annuler</button>
            </div>

        </div>
    </div>
    
   
</div>

{% endblock %}
