<!DOCTYPE html>
{%extends 'base.html'%} {%block content%}
<h1>Voir mes réseaux</h1>
<div>
    <div>
        <img src="{{ url_for('static', filename='img/humaaan1.svg')}}" alt="social" />
    </div>

    <div>
        <form action="/home/" method="post">
            <!-- Redefinir l'action -->
            {{ form.hidden_tag() }} {{ form.reseaux.label }} {{ form.reseaux() }}
            <input class="btn btn-dark" type="submit" name="voir_membres" id="voir_membres" value="Voir les membres" />
        </form>
    </div>

    <div>
        <img src="{{ url_for('static', filename='img/humaaan2.svg') }}" alt="social" />
    </div>
</div>
<!-- Faire la pop up et charger la liste des membres en AJAX-->
{%include 'membres-reseaux.html'%} {% endblock %}
