<!DOCTYPE html>
{%extends 'base.html'%}
{%block content%}
    <h1>Voir mes réseaux</h1>
    <div>
        <div>
            <img src="{{ url_for('static', filename='img/humaaan1.svg')}}" alt="social">

        </div>

        <div>
            <form action="/home/" method="post">
                <div> 
                    <label for="reseau1">Reseau 1</label>
                    <input type="radio" id="reseau1" name="reseau"value="reseau1">
                </div>

                <div>
                    <label for="reseau2">Reseau 2</label>
                    <input type="radio" id="reseau2" name="reseau"value="reseau2"> 
                </div>
                <div> 
                    <label for="reseau3">Reseau 3</label>
                    <input type="radio" id="reseau3" name="reseau"value="reseau3">
                </div>
            </form>

            <button>Voir les membres</button>
           
        </div>

        <div>
            <img src="{{ url_for('static', filename='img/humaaan2.svg') }}" alt="social">
        </div>



    </div>

    <div>
        <h1>Membres du réseau</h1>
        
        <input type="search" id="zone-search" name="zone-search" />
        <img src="{{ url_for('static', filename='img/search.svg') }}" alt="icone de recherche"/>

        <div>
            <img src="{{ url_for('static', filename='img/photo_profil_tom.svg') }}" alt="profil">
            <p>Tom Cook</p>
            <button>Supprimer</button>
        </div>

        <div>
            <img src="{{ url_for('static', filename='img/photo_profil_tom.svg') }}" alt="profil">
            <p>Tom Cook</p>
            <button>Supprimer</button>
        </div>

        <div>
            <img src="{{ url_for('static', filename='img/photo_profil_tom.svg') }}" alt="profil">
            <p>Tom Cook</p>
            <button>Supprimer</button>
        </div>

        <h3>Suggestions</h3>

        <div>
            <img src="{{ url_for('static', filename='img/photo_profil_tom.svg') }}" alt="profil">
            <p>Tom Cook</p>
            <button>Ajouter</button>
        </div>
        <div>
            <img src="{{ url_for('static', filename='img/photo_profil_tom.svg') }}" alt="profil">
            <p>Tom Cook</p>
            <button>Ajouter</button>
        </div>
    </div>
{% endblock %}
