{% extends 'base.html' %} {% block content %}

<div>
    <div>
        <h1>Filtrer par</h1>

        <div>
            <h2>Réseau</h2>

            <div>
                <input type="checkbox" id="reseau1" name="reseau" value="reseau1" />
                <label for="reseau1">Réseau 1</label>
            </div>

            <div>
                <input type="checkbox" id="reseau2" name="reseau" value="reseau2" />
                <label for="reseau2">Réseau 2</label>
            </div>
        </div>

        <div>
            <h2>Date d'expiration</h2>

            <div>
                <input type="checkbox" id="plus_proche" name="anciennete" value="plus_proche" />
                <label for="plus_proche">Plus proche</label>
            </div>

            <div>
                <input type="checkbox" id="moins_proche" name="anciennete" value="moins_proche" />
                <label for="moins_proche">Moins proche</label>
            </div>
        </div>

        <div>
            <h2>Popularité</h2>

            <div>
                <input type="checkbox" id="plus_populaire" name="populaire" value="plus_populaire" />
                <label for="plus_proche">Plus proche</label>
            </div>

            <div>
                <input type="checkbox" id="moins_populaire" name="populaire" value="moins_populaire" />
                <label for="moins_populaire">Moins populaire</label>
            </div>
        </div>
    </div>

    <div>
        <div>
            <a href="{{url_for('mes_offres')}}"
                ><input class="btn btn-dark" type="button" name="offres" id="offres" value="Mes offres"
            /></a>
            <a href="{{url_for('mes_reponses')}}"
                ><input class="btn" type="button" name="reponses" id="reponses" value="Mes réponses"
            /></a>
        </div>
        <div>
                {% for offre in offres %} {% include offre.html%}
                <div>
                    <button>Publier</button>
                    <button>Modifier</button>
                    <button>Supprimer</button>
                </div>
                {% endfor %}
            </a>
        </div>
    </div>
</div>

<div>
    <h2>Confirmation de suppression</h2>
    <div>
        <img src="{{ url_for('static', filename='img/attention.svg') }}" alt="attention" />
        <p>Êtes-vous sûr de vouloir supprimer l’offre ... ?</p>
    </div>
    <div>
        <button>Oui</button>
        <button>Annuler</button>
    </div>
</div>

{% endblock %}
