<div>
    <a href="{{url_for('repondre_offre',id_offre="{{offre.id_offre}}" )}}">
    <img src="{{ url_for('static', filename='img/fete_fumee.svg') }}" alt="fetes">
    <div>
        <h2>{{ offre.nom_offre}}</h2>
        <p> Créé par M....</p>
    </div>

    <div>
        <div>
            <p>Nombre de participants</p>
            <p>XXX XXX</p>
        </div>
        <div>
            <p>Cotisation minimale</p>
            <p>XXX XXX euros</p>
        </div>
        <div>
            <p>Temps restant</p>
            <p>XXX XXX jours </p>
        </div>
    </div>
    </a>
</div>