<!DOCTYPE html>
{%extends 'base.html'%} {%block content%}
<div>
    <div>
        <img src="{{ url_for('static', filename='img/fetes.svg')}}" alt="fetes" />

        <div>
            <div>
                <h1>{{ offre.nom_offre}}</h1>
                <p>fermeture de l'offre: {{offre.date_limite}}</p>
            </div>

            <div>
                <p>Créer par XXX</p>
                <p>{{offre.description}}</p>
                <p>Nombre de participants: xxx xxx</p>
                <p>Cotisation minimale: xxx xxx €</p>

                <a href="">
                    <input type="button" name="repondre" id="repondre" value="Répondre" />
                </a>

                <a href=""> Voir les documents associés à l'offre </a>
            </div>

            <div>
                <h1>Commentaires</h1>
                <p>M. xxxxxxxx</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum
                </p>
            </div>

            <div>
                <h1>documents</h1>
                <a href="">
                    <img src="{{url_for('static', filename='img/icon_download.svg')}}" alt="icon_download" />
                    Contrat de xxx
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
