<div class="my-5">
    <a class="d-flex flex-nowrap text-decoration-none" href="{{url_for('repondre_offre', id_offre=reponse.offre.id_offre)}}">
        <img
            class="rounded-start-4"
            src="{{ url_for('static', filename='img/fete_fumee.svg') }}"
            style="width: 261px; height: fit-content"
            alt="fetes"
        />
        <div class="d-flex flex-wrap justify-content-center rounded-end-4 text-black bg-color-blanc">
            <div class="d-flex flex-column align-items-center justify-content-center m-4">
                <h2>{{ reponse.offre.nom_offre}}</h2>
                <p>Créé par {{reponse.offre.utilisateur.nom_utilisateur}} {{reponse.offre.utilisateur.prenom_utilisateur}}</p>
            </div>

            <div class="d-flex flex-nowrap justify-content-around w-100">
                <div class="d-flex flex-column align-items-center">
                    <p>La cotisation</p>
                    <p>{{reponse.budget}}</p>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <p>Commentaire</p>
                    <p>{{reponse.cotisation_min}} euros</p>
                </div>
            </div>
        </div>
    </a>
</div>
