<!DOCTYPE html>
{%extends 'base.html'%}
{%block content%}

    <div class = "d-flex justify-content-center">
        <h1 class ="fw-bolder display-4 m-4 ">Les réponses à l'offre de </h1>
    </div>

    <div class="m-5">
        <img src="{{ url_for('static', filename='img/fete_fumee.svg') }}" alt="offre">
        <div>
            <div>
                <p>Elon Musk</p>
                <p>Cotisation apportée : ....</p>
            </div>
            
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, fugiat numquam! 
                Consequuntur odio dignissimos qui voluptatibus quia nostrum beatae, maiores com
                modi adipisci maxime dolorem sint quas corporis dolore quae perspiciatis?</p>
        </div>
        <button>Voir plus <img src ="{{ url_for('static', filename='img/fleche.svg') }}" alt= "fleche" img> </button>   

    </div>


    <div>
        <img src="{{ url_for('static', filename='img/fete_fumee.svg') }}" alt="offre">
        <div>
            <div>
                <p>Elon Musk</p>
                <p>Cotisation apportée : ....</p>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, fugiat numquam! 
                Consequuntur odio dignissimos qui voluptatibus quia nostrum beatae, maiores com
                modi adipisci maxime dolorem sint quas corporis dolore quae perspiciatis?</p>
        </div>
        <button>Voir plus <img src ="{{ url_for('static', filename='img/fleche.svg') }}" alt= "fleche" img> </button>


    </div>
    <div>
        <img src="{{ url_for('static', filename='img/fete_fumee.svg') }}" alt="offre">
        <div>
            <div>
                <p>Elon Musk</p>
                <p>Cotisation apportée : ....</p>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, fugiat numquam! 
                Consequuntur odio dignissimos qui voluptatibus quia nostrum beatae, maiores com
                modi adipisci maxime dolorem sint quas corporis dolore quae perspiciatis?</p>
        </div>
        <button>Voir plus <img src ="{{ url_for('static', filename='img/fleche.svg') }}" alt= "fleche" img> </button>


    </div>


   


{%endblock%}