{% extends 'auth/connexion-base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center">
    <div class="card p-4 shadow" style="max-width: 400px; width: 100%;">
        <h2 class="text-center mb-4">Réinitialisation <br> du mot de passe</h2>
        
        <form method="POST" action="{{ request.path }}">
            {{ form.hidden_tag() }}
    
            <!-- Champ caché pour l'email -->
            <input type="hidden" name="adress_mail" value="{{ form.adress_mail.data }}">

            <div class="mb-3">
                {{ form.adress_mail(class="form-control", placeholder="Entrer votre adresse e-mail", disabled=True) }}
            </div>
            <div class="mb-3">
                {{ form.new_password(class="form-control", placeholder="Entrer votre nouveau mot de passe") }}
            </div>
            <div class="mb-3">
                {{ form.confirm_password(class="form-control", placeholder="Confirmer votre nouveau mot de passe") }}
            </div>
            <button type="submit" class="btn btn-base w-100">Réinitialiser</button>
        </form>
    </div>
</div>



{% endblock %}