{% extends 'auth/connexion-base.html' %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center ">
    <div class="card p-4 shadow" style="max-width: 400px; width: 100%;">
        <h2 class="text-center mb-4">Réinitialisation <br> du mot de passe</h2>
        
        <form action="{{ url_for('auth.login') }}">
            <div class="mb-3">
                <label for="email" class="form-label">Adresse e-mail</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Entrer votre adresse e-mail" required>
            </div>
            <div class="mb-3">
                <label for="mdp" class="form-label">Nouveau mot de passe</label>
                <input type="password" name="mdp" id="mdp" class="form-control" placeholder="Entrer votre nouveau mot de passe" required>
            </div>
            <div class="mb-3">
                <label for="confirm-mdp" class="form-label">Confirmer mot de passe</label>
                <input type="password" name="confirm-mdp" id="confirm-mdp" class="form-control" placeholder="Confirmer votre nouveau mot de passe" required>
            </div>
            <button type="submit" class="btn btn-base w-100">Réinitialiser</button>
        </form>
    </div>
</div>


{% endblock %}