{% extends 'connexion-base.html' %}

{% block content %}

    <div>
        <h1>Réinitialisation du mot de passe</h1>
    
        <form action="{{ url_for('auth.connexion') }}">

            <label for="email">Adresse e-mail</label>
            <input type="email" name="email" id="email" placeholder="Entrer votre adresse e-mail">

            <label for="mdp">Nouveau mot de passe</label>
            <input type="mdp" name="mdp" id="mdp" placeholder="Entrer votre nouveau mot de passe">

            <label for="confirm-mdp">Adresse e-mail</label>
            <input type="confirm-mdp" name="confirm-mdp" id="confirm-mdp" placeholder="Confirmer votre nouveau mot de passe">

            <button type="submit">Réinitialiser</button>

        </form>

    </div>

{% endblock %}