<!DOCTYPE html>

<div class="h-50 d-inline-block overflow-auto">
    <h1>Membres du réseau</h1>

    <div class="input-group border rounded-pill">
        <input class="form-control rounded-pill rounded-end" type="search" id="zone-search" name="zone-search" />
        <button class="btn">
            <img src="{{ url_for('static', filename='../../static/static/img/search.svg') }}" alt="icone de recherche" />
        </button>
    </div>

    {% for m in membre %}
    <div class="d-flex justify-content-around m-4">
        <img src="{{ url_for('static', filename='../../static/static/img/photo_profil_tom.svg') }}" alt="profil" />
        <p class="align-self-end">{{m.nom_utilisateur}}</p>
        {% if current_user.is_admin() %}
        <button class="btn btn-dark rounded-4">
            <a
                href="{{url_for('views.suppression_utilisateur_reseau', id_reseau=reseau_id,
            id_utilisateur=m.id_utilisateur)}}"
                >Supprimer</a
            >
        </button>
        {% endif %}
    </div>
    {% endfor %}
</div>
