<!DOCTYPE html>
<div class="card mb-3">
    <div class="card-header flex-column">
        <h5 class="mb-0">Membres du réseau</h5>
    </div>
    <div class="card-body">
        <div class="input-group mb-3">
            <input class="form-control" type="search" placeholder="Rechercher" id="zone-search" name="zone-search" />
            <button class="btn btn-outline-secondary" type="button">
                <img src="{{ url_for('static', filename='../static/img/search.svg') }}" alt="icone de recherche" />
            </button>
        </div>
        {% for m in membre %}
        <div class="d-flex align-items-center justify-content-between py-2 border-bottom">
            <div class="d-flex align-items-center">
                {% if m.img_utilisateur == m.id_utilisateur %}
                <a href="{{ url_for('views.visualiser_profil', id_utilisateur=m.id_utilisateur) }}">
                    <img
                        src="{{ url_for('static', filename='img/profil/' ~ m.id_utilisateur) }}"
                        alt="profil"
                        class="rounded-circle me-2"
                        style="width: 40px; height: 40px; object-fit: cover"
                    />
                </a>
                {% else %}
                <a href="{{ url_for('views.visualiser_profil', id_utilisateur=m.id_utilisateur) }}"></a>
                    <img
                        src="{{ url_for('static', filename='img/photo_profil_tom.svg') }}"
                        alt="profil"
                        class="rounded-circle me-2"
                        style="width: 40px; height: 40px; object-fit: cover"
                    />
                </a>
                {% endif %}
                <a class="text-decoration-none text-dark" href="{{ url_for('views.visualiser_profil', id_utilisateur=m.id_utilisateur) }}">
                    <span>{{ m.nom_utilisateur }} {{ m.prenom_utilisateur }}</span>
                </a>
            </div>
            {% if current_user.is_admin() %}
            <a
                href="{{ url_for('reseaux.suppression_utilisateur_reseau', id_reseau=reseau_id, id_utilisateur=m.id_utilisateur) }}"
                class="btn btn-danger btn-sm"
            >
                Supprimer
            </a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
