<div class="my-5 w-75">
    <a
        class="d-flex flex-nowrap text-decoration-none w-100"
        href="{{url_for('details_offre', id_offre=reponse.offre.id_offre)}}"
    >
        <img
            class="rounded-start-4"
            src="{{url_for('static', filename='img/offre/' ~ reponse.offre.id_offre)}}"
            style="width: 261px; height: fit-content"
            alt="fetes"
        />
        <div class="d-flex flex-wrap justify-content-center rounded-end-4 text-black bg-color-blanc w-100">
            <div class="d-flex flex-column align-items-center justify-content-center m-4">
                <h2>{{ reponse.offre.nom_offre}}</h2>
                <p>
                    Créé par {{reponse.offre.utilisateur.prenom_utilisateur}}
                    {{reponse.offre.utilisateur.nom_utilisateur}}
                </p>
            </div>

            <div class="d-flex flex-nowrap justify-content-around w-100">
                <div class="d-flex flex-column align-items-center">
                    <p>La cotisation</p>
                    <p>{{reponse.budget}}</p>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <p>Commentaire</p>
                    <p>{{reponse.cotisation_min}} euros</p>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <p>Disponible du</p>
                    <p>{{reponse.date_debut}}</p>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <p>au</p>
                    <p>{{reponse.date_fin}}</p>
                </div>
            </div>
        </div>
    </a>
</div>
