.btn-base{
    background-color: #F7B11E !important ;
    color: #FFFFFF !important ;
}

.btn-dark{
    background-color: #050B25 !important;
    color: #FFFFFF !important ;
    border-color: #FFFFFF !important;
}

.btn-envoyer{
    color: #F7B11E !important;
    background-color: #FFFFFF !important ;
    border-color: #F7B11E !important;
}

body {
    background-color: #FFFFFF;
}
.div-dark {
    background-color: #050B25;
}

nav {
    border-bottom-width: 1cm  !important;
    border-bottom-color: #050B25;
    justify-content: space-evenly !important;
}
.input-group{
    width: 355px !important;
    height: 40;
}
.btn:active{
    border-color: #FFFFFF !important;
}